body{background: url(road-3856796_1920.jpg);}


header{
    height: 80px;
 }
            
h1{
    text-align: center;
    line-height: 80px;
}
            
.loginForm{
    margin: 40px;
    text-align: center;
}

.errorMessage{
    text-align:center;
    color: red;
    margin-bottom: 40px;
}
            
.weather{
    text-align: center;
    margin-top: 80px;
}

.newResist{
     text-align: right;
}

.space{
    margin: 30px;
}