body{background: url(donut-3723751_1920.jpg);}

header{
    height: 80px;
 }
            
h1{
    text-align: center;
    line-height: 80px;
}

.resisterForm{
    margin: 40px;
    text-align: center;
}

.errorMessage{
    text-align: center;
    color: red;
}